PLUGIN_TOKEN=random_characters_from_ha
PLUGIN_HOST=home-assistant.example.com
PLUGIN_NOTIFY_ID=mobile_app_my_phone
CI_SYSTEM_NAME=Woodpecker
CI_PIPELINE_NUMBER=9999
CI_REPO=local/testing
CI_PIPELINE_URL=https://github.com/DHandspikerWade/woodpecker-plugin-ha-notify
PLUGIN_STATUS=success